* {
	font-family: 'Baloo Tammudu 2', cursive;
    color: #fff
}

body {
    background-image: url(imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    margin-top: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.section-box{
    margin-bottom: 110px !important;
}

.header-text {
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: black;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.presentacion-p{
    font-size: 18px;
    display: inline-block;
    text-align: center;
    width: 60%;
}

.presentacion1{
    text-align: center;
}

.footer-titulo{
    font-weight: bold;
    font-size: 20px;
}

.text-center-footer{
    text-align: center;
    padding: 5px 5px 5px 5px;
    padding-right: 8rem;
}
.btn-initial{
    padding: 2rem 2rem 1rem 2rem;
    font-size: 18px;
    margin-left: 10px;
    background-color: #15202b;
    font-weight: 700;
}

.glyphicon-chevron-right:before {
    color: black;
}
.carousel-control.right span {
    background-color: #0000;
}
.glyphicon-chevron-left:before {
    color: black;
}
.carousel-control.left span {
    background-color: #0000;
}
@media (max-width: 767px){
    .hidden-xs{
        display: inline !important;
    }
    .section-box {
        margin-bottom: 3px !important;
    }
    .logo-saturn{
        display: none;
    }
    .footer-titulo{
        display: none;
    }
    .temas-relacionados{
        display: none;
    }
}
@media (min-width: 767px){
    .section-box {
        margin-bottom: 30px !important;
    }
}

@media (min-width: 990px){
    .section-box {
        margin-bottom: 90px !important;
    }
}