* {
	font-family: 'Baloo Tammudu 2', cursive;
}

html, body {
	height: 100%;
	margin: 0;
}

.turnos-bg {
	background-image: url(imagenes/elwachin.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.turnos-content {
	padding-top: 1rem;
}

.btn-usuarios, .btn-turno, .link-box, .btn-cancel {
	color: #fff;
	font-weight: 700;
	background-color: #15202b;
	border-color: #15202b;
}

.btn-usuarios:hover, .btn-turno:hover, .link-box:hover, .btn-cancel:hover {
	background-color: #293D51;
	border-color: #293D51;
}

.btn-usuarios:active, .btn-turno:active, .link-box:active, .btn-cancel:active {
	background-color: #293D51 !important;
	border-color: #293D51 !important;
}

.turnos-content input {
	padding-top: .9rem;
	height: 2rem;
	border: 1px solid #111;
}

.turnos-content select {
	padding-top: .2rem;
	border: 1px solid #111;
}

.turnos-content input[type="date"]::-webkit-inner-spin-button {
	margin: 0;
}
.turnos-content input[type="date"]::-webkit-calendar-picker-indicator {
	margin: 0;
	padding-bottom: .6rem;
}

.btn-turno {
	padding-top: .8rem;
	width: 7rem;
	font-weight: 700;
}

.card-title {
	font-weight: 800;
	font-size: 2.5rem;
	padding-top: 7rem;
}


.dash-box {
	background-image: url(imagenes/elwachin.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
}

.usuario-bg {
	background-image: url(imagenes/form.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
}


.admin-bg {
	background-image: url(imagenes/fondo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
}

.btn-usuarios {
	padding: 0.4rem;
    padding-top: 0.8rem;
}

.welcome {
	padding-top: 0.5rem;
	font-weight: 700;
}

.cancel {
	padding-top: 7rem;
	font-weight: 700;
	padding-left: 1rem;
}

.section-box {
	padding-left: 7rem;
	padding-top: 10rem;
}

.navbar {
	background-color: #15202b;
}
.logo-sa {
	width: 4rem;
}
.seccion{
	background-color:#15202b !important;
	color: white;
}
.nav-link {
	font-size: 2rem;
	color: #fff;
	font-size: 1.7rem;
}

.nav-link:hover {
	color: #fff;
}

.navbar-nav {
	font-weight: 700;
	list-style: none;
}

.navbar-icon {
	color: #fff;
	padding-top: 1.5rem;
	font-size: 1.5rem;
}

.card-body-new{
	margin-bottom: 90px;
}

.logout {
	font-size: 1.5rem;
}

.titulo-box {
	font-weight: 700;
}

.btn-cancel {
	padding-top: .8rem;
	font-weight: 700;
	margin-left: 3rem;
}

.turno-list {
	padding-top: 6rem;
	font-weight: 700;
}

.footer {
	background-color: #15202b;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4rem;
	line-height: 1.8rem;
}

.navbar-toggler:focus {
	outline: 1px solid;
	border-radius: .25rem;
}

.btn-secondary {
	background-color: transparent;
	border-color: transparent;
	font-size: 1.4rem;
	padding-top: .8rem;
}

.btn-secondary:focus {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-secondary:active {
	background-color: transparent;
	box-shadow: none;
}

.btn-secondary:hover {
	background-color: transparent;
	border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
}

.fa-twitter, .fa-facebook-f, .fa-github {
	font-size: 1.6rem;
	color: #fff;
}

.footer-direccion {
	font-weight: 700;
	color: #fff;
}

.fa-map-marker-alt {
	font-size: 1.5rem;
	color: #fff;
}

.fa-phone {
	font-size: 1.5rem;
	color: #fff;
}

.footer-atencion {
	color: #fff;
	font-weight: 700;
}

.fa-bars {
	color: #fff;
	padding-top: .4rem;
}

.navbar-light .navbar-toggler {
	border-color: #fff;
}

.footer-atencion:hover {
	text-decoration: none;
}


.link-box {
	margin-top: .8rem;
	width: 30%;
	padding-top: 1rem;
	font-weight: 700;
}

label {
	font-weight: 700;
}

.dropdown-item {
	color: #fff;
}

.navbar-toggler {
	border: 1px solid #fff;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4rem;
	line-height: 1.8rem;
	color:white;
}
.row.row-footer {
	background-color: #15202b;
    display: flex !important;
    flex-wrap: wrap !important;
    padding-top: 20px !important;
}

footer ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer a{
    color: white;
}

footer .redes {
    font-size: 30px;
    display: inline-flex;
}

footer .redes a {
	margin: 0 7.5px;
	color: white;
}

footer .barra-footer {
    background-color: grey;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer-titulo{
    margin-top: 20px;
}

.temas{
	display: block !important;
}

.logo-saturn {
	width: 30% !important;
}


.column{
    padding-left: 0px !important;
}

.columna {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}
.container{
	padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.columna-25 {
    width: 25%;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.redes-link{
	display: inline;
}
footer li {
	list-style-type: none;
}

@media (min-width: 992px) {
	.dropdown-menu {
		right: 0;
		left: auto;
		background-color: #15202b;
		border: 0;
		border-radius: 0;
		padding-top: 2rem;
		width: 15%;
		top: auto;
	}

	.dropdown-item {
		color: #fff;
		margin-bottom: 1rem;
		font-weight: 700;
		font-size: 1.3rem;
		text-align: center;
	}

	.dropdown-item:focus,
	.dropdown-item:hover {
		background-color: transparent;
		color: #33b1e3;
	}

	.dropdown, .dropleft, .dropright, .dropup {
		position: inherit;
	}

	.dropdown .dropdown-menu {
		transition: all 0.7s;
		overflow: hidden;
		opacity: 0;
		z-index: -1;
	}

	.dropdown.show .dropdown-menu {
		max-height: 300px;
		opacity: 1;
		z-index: 1;
	}

	.container {
        width: 100%;
    }
}

.display-small-screen{
	display: inline;
}

@media  (min-width: 320px) and (max-width: 768px) {
	.display-small-screen{
		display: none;
	}
	.section-box {
		padding-top: 8rem;
		padding-left: 1rem;
	}	.turnos-bg {
		background-image: url(imagenes/fondomediaquery.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}

	.usuario-bg {
		background-image: url(imagenes/fondodashboardquery.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		height: 100%;
	}

	.dash-box {
		background-image: url(imagenes/fondobody.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		height: 100%;
	}

	.titulo-box {
		color: #fff;
	}

	.text-box {
		color: #fff;
	}

	.btn-usuarios, .btn-turno, .link-box {
		color: #fff;
		font-weight: 700;
		background-color: #15202b;
		border-color: #15202b;
	}

	.btn-usuarios:hover, .btn-turno:hover, .link-box:hover {
		background-color: #293D51;
		border-color: #293D51;
	}

	.btn-usuarios:active, .btn-turno:active, .link-box:active {
		background-color: #293D51 !important;
		border-color: #293D51 !important;
	}

	.card-title {
		color: #fff;
	}

	label {
		color: #fff;
	}

	.dropdown-item:focus,
	.dropdown-item:hover {
		background-color: transparent;
		color: #43F584;
	}

	.welcome, th {
		color: #fff;
	}

	.columna-mobile-100 {
        width: 100% !important;
    }

    footer .redes {
        justify-content: center;
	}

	.logo-saturn{
		display: none;
	}
	.footer-titulo{
		display: none;
	}
}

@media  (min-width: 768px) and (max-width: 1024px){
	.display-small-screen{
		display: inline;
	}
	.turnos-bg {
		background-image: url(imagenes/fondomediaquery.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		height: 100%;
	}

	.usuario-bg {
		background-image: url(imagenes/fondomediaquery.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		height: 100%;
	}

	.dash-box {
		background-image: url(imagenes/fondodashboardquery.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		height: 100%;
	}

	.section-box {
		padding-left: 0.9375rem;
	}

	.card-title {
		color: #fff;
	}

	label {
		color: #fff;
	}

	.welcome, th {
		color: #fff;
	}

	.titulo-box {
		color: #fff;
	}

	.text-box {
		color: #fff;
	}

	.btn-usuarios, .btn-turno, .link-box {
		color: #fff;
		font-size: 700;
		background-color: #15202b;
		border-color: #15202b;
	}

	.btn-usuarios:hover, .btn-turno:hover, .link-box:hover {
		background-color: #293D51;
		border-color: #293D51;
	}

	.btn-usuarios:active, .btn-turno:active, .link-box:active {
		background-color: #293D51 !important;
		border-color: #293D51 !important;
	}

	.dropdown-item:focus,
	.dropdown-item:hover {
		background-color: transparent;
		color: #43F584;
	}
	.columna-mobile-100 {
        width: 100%;
	}
	.logo-saturn{
		display: none;
	}
	.footer-titulo{
		display: none;
	}
}

@media (max-width: 997px) {
	.dropdown {
		display: none;
	}
}

@media (min-width: 1025px) and (max-width: 1200px) {
	.turnos-bg {
		background-image: url(imagenes/fondomediaquery.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		height: 100%;
	}

	.usuario-bg {
		background-image: url(imagenes/fondomediaquery.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		height: 100%;
	}

	.dash-box {
		background-image: url(imagenes/fondobody.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		height: 100%;
	}

	.titulo-box, p{
		color: #fff;
	}

	label {
		color: #fff;
	}

	.section-box {
		padding-left: 0;
	}

	.welcome, th, td {
		color: #fff;
	}

	.btn-usuarios, .btn-turno, .link-box {
		color: #fff;
		font-size: 700;
		background-color: #15202b;
		border-color: #15202b;
	}

	.btn-usuarios:hover, .btn-turno:hover, .link-box:hover {
		background-color: #293D51;
		border-color: #293D51;
	}

	.btn-usuarios:active, .btn-turno:active, .link-box:active {
		background-color: #293D51 !important;
		border-color: #293D51 !important;
	}

	.dropdown-item:focus,
	.dropdown-item:hover {
		background-color: transparent;
		color: #43F584;
	}
}

@media (min-width: 1200px) and (max-width: 1400px){
	.turnos-bg {
		background-image: url(imagenes/eldotorregistro.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}

	.section-box {
		padding-top: 12rem;
		padding-left: 7rem;
	}


}

@media (min-width: 1401px) {
	.turnos-bg {
		background-image: url(imagenes/eldotorregistro.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}
}