* {
	font-family: 'Baloo Tammudu 2', cursive; 
}

body {
	background-image: url(imagenes/elwachin.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

html, body {
    height: 100%;
    margin: 0; 
}

.section-box {
	margin: 20rem 0;
	padding-left: 7rem;
}

.navbar {
	background-color: #15202b;
}

.logo-sa{
	width: 4rem;
}

.nav-link {
	font-size: 2rem;
	color: #fff;
}

.navbar-nav {
	font-weight: 700;
	list-style: none;
}

.hello {
	font-size: 1.5rem;
	color: #fff;
}

.logout {
	font-size: 1.5rem;
}

.titulo-box {
	font-weight: 700;
}

.link-box {
	margin-top: .8rem;
	width: 30%;
	padding-top: 1rem;
	font-weight: 700;
}

.footer {
	background-color: #15202b;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4rem;
	line-height: 1.8rem;
}

.navbar-toggler:focus {
	outline: 1px solid;
	border-radius: .25rem;
}

.btn-secondary {
	background-color: transparent;
	border-color: transparent;
	font-size: 1.4rem;
	padding-top: .8rem;
}

.btn-secondary:focus {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-secondary:active {
	background-color: transparent;
	box-shadow: none;
}

.btn-secondary:hover {
	background-color: transparent;
	border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
}

.dropdown-menu {
	right: 0;
	left: auto;
	background-color: #15202b;
	border: 0;
	border-radius: 0;
	padding-top: 2rem;
	width: 15%;
	top: auto;
}

.dropdown-item {
	color: #fff;
	margin-bottom: 1rem;
	font-weight: 700;
	font-size: 1.3rem;
	text-align: center;
}

.dropdown-item:focus,
.dropdown-item:hover {
	background-color: transparent;
	color: #43F584;
}

.dropdown, .dropleft, .dropright, .dropup {
	position: inherit;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.fa-twitter, .fa-facebook-f, .fa-github {
	font-size: 1.6rem;
	color: #fff;
}

.footer-direccion {
	font-weight: 700;
	color: #fff;
}

.fa-map-marker-alt {
	font-size: 1.5rem;
	color: #fff;
}

.fa-phone {
	font-size: 1.5rem;
	color: #fff;
}

.footer-atencion {
	color: #fff;
	font-weight: 700;
}

.footer-atencion:hover {
	text-decoration: none;
}

.btn:not(:disabled):not(.disabled) {
	margin-bottom: 10px !important;
}