* {
	font-family: 'Baloo Tammudu 2', cursive; 
}

body {
	background-image: url(imagenes/permite-chatear-con-doctores.jpg);
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #8D8C8C;
}

.container-footer {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.text-muted {
	color: #000000!important;
}