{%  extends 'main.html' %}

{% block content %}

<div class="dash-box">
  <div class="container-fluid section-box">
    <div class="row d-flex justify-content-center h-100 align-items-center">
      <div class="col-12 col-xl-4">
        <div class="d-flex flex-column h-100">
          <h1 class="text-center">
            <span class="titulo-box">Bienvenido a Saturn</span>
          </h1>
          <div class="text-box mx-5 text-center">
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In dolore cupiditate doloribus iste quod quos recusandae molestias dolores iusto. Maiores corporis vel illo voluptate nihil neque eos quaerat adipisci quibusdam.</span>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <a href="{% url 'new_turn' %}" class="btn btn-primary link-box mx-2">Solicitar Turno</a>
            <a href="{% url 'turn_ok' %}" class="btn btn-primary link-box mx-2">Ver mis Turnos</a>
          </div>
        </div>
      </div>
      <div class="col-8">
      </div>
    </div>
  </div>
</div>

{% endblock %}