{%  extends 'main.html' %}

{% block content %}

<div class="container-fluid section-box">
  <div class="row d-flex justify-content-center h-100 align-items-center">
    <div class="col-4">
      <div class="d-flex flex-column h-100">
            <h1>
              <span class="titulo-box">Bienvenido a Saturn</span>
            </h1>
            <div class="text-Box">
              <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In dolore cupiditate doloribus iste quod quos recusandae molestias dolores iusto. Maiores corporis vel illo voluptate nihil neque eos quaerat adipisci quibusdam.</span>
            </div>
            <a href="/new_turn/" class="btn btn-primary ">Solicitar Turno</a>
            <a href="/turn_ok/" class="btn btn-primary ">Ver mis Turnos</a>

      </div>
    </div>
    <div class="col-8">
      <!-- <img src="../static/imagenes/elwa.png" alt="" class="elwachin"> -->
    </div>
  </div>
</div>

{% endblock %}