{% load static %}

<footer class="d-flex justify-content-center align-items-center footer">
  <div
    class="d-flex justify-content-center align-items-center container-footer w-100 px-5"
  >
    <div class="mx-auto footer-direccion">
      <i class="fas fa-map-marker-alt mr-2"></i>
      <p class="display-small-screen">Av.9 de Julio - 4200</p>
    </div>
    <div class="mx-auto">
      <a
        href="https://support.riotgames.com/hc/es"
        class="footer-atencion mx-2"
        target="_blank"
        ><i class="fas fa-phone"></i>
        <p class="display-small-screen">Atención al cliente</p></a
      >
    </div>
    <div class="mx-auto">
      <a href="http://twitter.com/" target="_BLANK"
        ><i class="fab fa-twitter mx-4 pt-2"></i></a
      ><a href="http://facebook.com/" target="_BLANK"
        ><i class="fab fa-facebook-f pt-2"></i></a
      ><a href="https://github.com/LeonardoBrabo/Saturn" target="_BLANK"
        ><i class="fab fa-github mx-4 pt-2"></i
      ></a>
    </div>
  </div>
</footer>