{% load static %}
<link rel="stylesheet" href="{% static 'stylesVistas.css' %}" />

<footer class="seccion">
	<div class="container">
		<div class="row row-footer">
			<div class="columna columna-25">
				<img src="{% static '/imagenes/icono.png' %}" alt="" class="img-fluid logo-saturn">
				<p class="footer-titulo">SATURN</p>
			</div>
			<div class="columna columna-25 columna-mobile-100 temas-relacionados">
				<h3>
					Temas relacionados
				</h3>
				<a class="temas" href="#">Acerca de Nosotros</a>
				<a class="temas" href="#">Contáctenos</a>
				
			</div>
			<div class="columna columna-25 columna-mobile-100">
				<h3>
					Datos de Contacto
				</h3>
				<p>saturn@gmail.com</p>
				<p>Resistencia - Chaco</p>
			</div>
			<div class="columna columna-25 columna-mobile-100">
				<h3>
					Redes Sociales
				</h3>
				<div class="redes">					
					<a href="#"></a><i class="fab fa-facebook-square"></i></a>				
					<a href="#"><i class="fab fa-twitter"></i></a>				
					<a href="#"><i class="fab fa-instagram"></i></a>					
				</div>
			</div>
		</div>
	</div>
	<div class="barra-footer">
		&copy; Derechos Reservados - INFORMATORIO 2020
	</div>
</footer>
