{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="{% static '/imagenes/icono.png' %}" alt="" class="img-fluid logo-sa">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Bienvenido a SATURN <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  <span class="hello">Hola, {{request.user}}</span>
  <span  class="logout"><a href="{% url 'logout' %}">Cerrar Sesión</a></span>

</nav>