* {
	font-family: 'Baloo Tammudu 2', cursive; 
}

body {
	background-image: url(images/fondo.png);
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.section-flex {
    display: flex;
    justify-content: flex-end;
}

.card-title {
	color: #4670FA;
	font-size: 3rem;
	font-weight: 700;
}

.form {
	padding: 0px 25px;
}

.form-group {
	font-weight: 700;
	font-size: 1.2rem;

}
rgin-left: 35px;
} */

.form-check-label {
	font-weight: 400;
}

.btn {
	font-size: 1.1rem;
	font-weight: 700;
	/* padding-top: 0.750rem; */
} 


.card-link {
	font-weight: 700;
	font-size: 1.3rem;
}

