* {
	font-family: 'Baloo Tammudu 2', cursive; 
}

body {
	background-image: url(images/fondo2.png);
	background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.register-form {
	font-weight: 700;
	margin-top: 1rem;
	color: #fff;
}

.form-group-register {
	margin-top: 1rem;
}

.form-group-register input{
	padding-top: 1rem;
}

.section-flex {
    display: flex;
    justify-content: flex-end;
}

.card-title {
	color: #fff;
	font-size: 4rem;
	font-weight: 700;
}

.form-group {
	font-weight: 700;
	font-size: 1.5rem;
}

.form-check-label {
	font-weight: 400;
	color: #fff;
	padding-left: 6rem;
}

.form-control {
	height: 3rem;
	font-size: 1.3rem;
	background-color: transparent;
	color: #fff;
	text-align: center;
}

.form-control::placeholder {
  	color: #fff;
  	text-align: center;
}

.fa-user-alt{
  	position: absolute;
	margin-left: 1rem;
	height: 25px;
	display: flex;
	align-items: center;
	padding-top: 2.9rem;
	color: #fff;
}

.fa-lock {
	position: absolute;
	margin-left: 1rem;
	height: 25px;
	display: flex;
	align-items: center;
	padding-top: 2.9rem;
	color: #fff;
}

.btn-primary {
	font-size: 1.1rem;
	font-weight: 700;
	background-color: transparent;
	border-color: #fff;
	margin-left: 3.5rem;
}

.btn {
	font-size: 1.1rem;
	font-weight: 700;
	background-color: transparent;
	border-color: #fff;
}

.btn-info:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}


.btn-primary.focus, .btn-primary:focus {
	background-color: transparent;
	border-color: none;
	box-shadow: none;
}

.btn-primary:hover {
	background-color: transparent;
	border-color: #fff;
}

.form-control:focus {
	background-color: transparent;
	color: #fff;
	border-color: #fff;
	box-shadow: none;
}

.form-check-input {
	margin-top: .2rem;
    margin-left: 4.6rem;
    width: 1rem;
    height: 1rem;
}

.btn-registro {
	color: #fff;
	padding-left: .5rem;
	padding-right: .5rem;
}

.btn-registro:hover {
	color: #fff;
	text-decoration: none;	
}

.btn-primary.focus, .btn-primary:focus {
	border-color: none;
}

.card {
	background-color: transparent;
	border: none;
}

.card-link {
	font-weight: 700;
	font-size: 1.5rem;
	color: #fff;
}

.form-group-register {
    margin-bottom: .3rem ;
}

.sexo {
    display: block;
}

li {
	list-style-type: none;
}
