* {
	font-family: 'Baloo Tammudu 2', cursive; 
}

body {
	background-image: url(images/fondo.png);
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
	width: 400px;
	height: 500px;
	margin-right: 10%;
}

.section-flex {
    display: flex;
<<<<<<< HEAD
    justify-content: flex-end;
}

.card-title {
	color: #4670FA;
	font-size: 3rem;
	font-weight: 700;
	padding-top: 30px;
}

.form {
	padding: 0px 25px;
}

.form-group {
	font-weight: 700;
	font-size: 1.2rem;

}

.form-control {
	margin-left: 35px;
	width: 80%;
}

.usuario {
	margin-bottom: -20px;
	margin-left: 35px;
}

.password {
	margin-bottom: -20px;
	margin-left: 35px;
}

.form-check-label {
	margin-top: 4px;
	font-weight: 400;
	margin-left: 35px;
}

.btn-primary {
	padding-top: 12px;
	font-size: 1.1rem;
	font-weight: 700;
	margin-bottom: 10px;
	margin-left: 35px;
}

.form-check-input {
	margin-top: 6px;
	margin-left: 15px;
=======
    justify-content: center;
>>>>>>> 5c01105a7fa36cc3b49f6863181752d8e153f927
}

.card-link {
	padding-top: 40px;
	font-weight: 700;
	font-size: 1.3rem;
	margin-left: 35px;
}
<<<<<<< HEAD

=======
.form-group-register {
    margin-bottom: .3rem ;
}
.sexo {
    display: block;
}
>>>>>>> 5c01105a7fa36cc3b49f6863181752d8e153f927
