{% extends 'main.html' %}

{% block content %}

<div class="usuario-bg">
    <div class="col-12 col-xl-4">
        <div class="turno-list">
            {% if turno %}
            <h2 class="welcome text-center">
                Mis Turnos Solicitados
            </h2> 
            <table class="table">
                <tr>
                    <th scope="row">DIA </th>
                    <th scope="row">NOMBRE </th>
                    <th scope="row">ESPECIALIDAD</th>
                    <th scope="row">MEDICO</th>    
                    <th scope="row"></th>       
                </tr>
                {% for turno in turno %}
                <tr>
                    <td>{{turno.fecha_turno}}</td>
                    <td>{{turno.nombre}}</td>
                    <td>{{turno.especialidad.descripcion}}</td>
                    <td>{{turno.medico.nombre}}</td>
                    <td>

                        <a href="/delete_turn/{{turno.TurnoId}}" class="btn btn-primary list btn-usuarios">Cancelar</a>      
                    </td>
                </tr>

                {% endfor %}

            </table>
            <div class="no-reg">
                {% else %}
                <p class="no-reg">Usted no posee turnos registrados</p>
                {% endif %} 
            </div>
            <a href="/dashboard" class="btn btn-primary btn-usuarios">Volver</a>
            <a href="/new_turn" class="btn btn-primary btn-usuarios">Solicitar Turno</a> 

        </div>
    </div>    
</div>

{% endblock %}