.botton{
    padding-top: 10rem;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 9rem;
    width: 100%;
    color: #fff;
}


.title-admin {
    margin-top: 10rem;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;

}

.btn-buscar {
    padding-top: 1.7rem;
    margin-left: .5rem;
}

.turn {
    padding-top: 0.2rem;
    padding-left: .7rem;
    font-weight: 700;
}

.titulo-doctor {
    font-weight: 700;
    color: #fff;
}

.th-turn, .td-turn, .label-admin {
    color: #fff;
}

.page-link {
    background-color: #15202b;
    color: #fff;
}

.page-link:hover {
    background-color: #293D51;
    color: #fff;
}

.td-turnok {
    font-size: 0.8rem;
}

.table td, .table th {
    vertical-align: middle;
}